@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

$primary: #03294A;
$secondary:#0088FF;
$color3:#F8F8F8;
$color4:#53626F;
$color5:#053A69;
$background:#EBF6FF;
$hover:#0C508D;
$box1:#EC7325;
$box2:#6FB543;
$box3:#20A68D;
$smallbox:#C91242;
$smallbox2:#FABE1D;

$font-family:'Rubik', sans-serif;

@import 'header';
@import 'content';
